<ion-header>
  <ion-navbar>
    <ion-title>{{ 'HOME' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list no-lines>
        <ion-item>
          <ion-label>{{ 'SELECT_LANGUAGE' | translate }}</ion-label>
          <ion-select [(ngModel)]="languageSelected" (ionChange)='setLanguage()' [cancelText]="'CANCEL' | translate" [okText]="'OK' | translate">
            <ion-option *ngFor="let item of languages" [value]="item.code">{{item.name}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-list>
    <ion-list>
        <ion-item *ngFor="let c of court" (click)="loadPlaygroundDetail(c)">
            <ion-icon name="ionic" item-start>
            </ion-icon>
            <ion-thumbnail >
                <img style="width:100px;height: 100px " src={{c.logo}}>
            </ion-thumbnail>   
            {{c.namefa}}
        </ion-item>
    </ion-list>
    
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="page < totalPage">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more playgrounds ..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>
    
    
    
  <h2>Welcome to BerimBasket!</h2>
  <p>
    This project comes with many services related to basketball.
  </p>
  <p>
    Take a look at the <code>berimbasket.ir</code> website to register yourselft and login then complete you profile and add posts,
    about basketball and related subjects.
  </p>
</ion-content>
